.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.wrapper {
  background: hsl(0, 0%, 100%);
  height: 484px;
  width: 315px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.img {
  display: flex;
  justify-content: center;
}

.img img {
  width: 280px;
  height: 280px;
  border-radius: 15px;
  margin-top: 18px;
  margin-bottom: 9px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
  margin-top: 9px;
  width: 254px;
  height: 56px;
  margin: 0 auto;
}

.title p {
  color: #1f3251;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subtitle {
  margin: 0 auto;
  height: 57px;
  width: 243px;
}

.subtitle p {
  margin-top: 19px;
  color: #7b879d;
  text-align: center;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  color: #1f3251;
  text-align: center;
  font-family: Outfit;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 28px;
}

@media only screen and (max-width: 400px) {
  .title {
    margin-top: 10px;
  }

  .subtitle {
    margin-top: 5px;
  }
}
