@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
}

.card {
  height: 40vh;
  width: 25vh;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-qr-code {
  height: 90%;
  width: 100%;
  border-radius: 10px;
  /* position: absolute; */
}

/* Default Styles*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Temp*/

.text {
  color: black;
  text-align: center;
  /* font-size: 15px; */
  width: 80%;
  /* background: yellow; */
  /* margin-bottom: 10px; */
  height: 50%;
  margin-top: 15px;
}

.heading-text {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 10px;
  font-size: 17px;
}

.muted-text {
  font-weight: 400;
  color: hsl(212, 45%, 89%);
  font-size: 12px;
}

p {
  /* line-height: 1.5; */
  width: fit-content;
}
