@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.light-mode {
  --primary: #f2f2f2;
  --secondary: #ffffff;
  --text: #111517;
  --highlight: #848484;
}

.dark-mode {
  --primary: #202c36;
  --secondary: #2b3844;
  --text: #ffffff;
  --highlight: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-size: 16px;
}

.index-background {
  min-height: 100vh;
  background-color: var(--primary);
}
