.button {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: hsl(213, 19%, 23%);
  color: hsl(217, 12%, 63%);

  margin: 6px;
  font-weight: bold;
  font-size: 15px;

  cursor: pointer;
}

.clicked {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
