.container {
  position: relative;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  font-size: 31px;
  color: #ffffff;
}

.input {
  width: 555px;
  height: 58px;
  display: flex;
  background-color: red;
}
