.container {
  width: 1280px;
  height: 156px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
}

.search {
  height: 56px;
  width: 480px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  border-radius: 8px;
}

input {
  background-color: var(--secondary);
  color: var(--text);
}

input::placeholder {
  color: var(--highlight);
}

.icon {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search img {
  height: 18px;
  width: 18px;
}

.search input {
  outline: none;
  border: none;

  width: 100%;
  height: 100%;

  border-radius: 8px;
}

.dropdown {
  background-color: var(--secondary);
  height: 56px;
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
}

.dropdownLabel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  font-size: 0.875rem;
  font-weight: normal;
}

.dropdown img {
  height: 12px;
  width: 12px;
}

.dropdownOptions {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--secondary);
  border-radius: 8px;
  position: absolute;
  width: 200px;
  height: 164px;
  font-size: 0.875rem;
  font-weight: normal;
}

.dropdownOptions span {
  margin-left: 20px;
}

.dropdownOptions span:hover {
  font-weight: 700;
}

.removeFilter {
  background-color: var(--secondary);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text);
  font-size: 0.875rem;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 343px;
    flex-direction: column;
    align-items: flex-start;
  }

  .search {
    height: 48px;
    width: 343px;
    margin-top: 24px;
  }

  .search img {
    height: 16px;
    width: 16px;
  }

  .dropdown {
    height: 48px;
    width: 200px;
    margin-bottom: 20px;
  }

  .dropdownLabel {
    height: 48px;
    font-size: 0.75rem;
  }

  .dropdownOptions {
    font-size: 0.75rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .removeFilter {
    font-size: 0.75rem;
  }
}
